doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(content='width=device-width,initial-scale=1.0,maximum-scale=1.0', name='viewport')
    meta(name='twitter:widgets:theme', content='light')
    meta(property='og:title', content='Hotshot Sports')
    meta(property='og:type', content='website')
    meta(property='og:image', content='Your-Image-Url')
    meta(property='og:description', content='At Hotshot, we change perceptions by building a sports ecosystem for the people.')
    title Hotshot | Sports
    link(rel='shortcut icon', type='image/x-icon', href='images/logo.ico')
    // Font
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CRoboto:300,400,500,700', rel='stylesheet', type='text/css')
    // Css
    link(rel='stylesheet', href='css/core.min2.css')
    link(rel='stylesheet', href='css/skin.css')
  body.shop.home-page.bkg-black
    // Overlay Navigation Menu
    .overlay-navigation-wrapper.one-page-nav(data-no-scrollbar='', data-animation='scale-in')
      .overlay-navigation-scroll-pane
        .overlay-navigation-inner
          .v-align-middle
            .overlay-navigation-header.row.collapse.full-width
              .column.width-12
                .navigation-hide.overlay-nav-hide
                  a(href='#')
                    span.icon-cancel
            .row.collapse.full-width
              .column.width-12
                nav.overlay-navigation.nav-block.center
                  ul
                    li
                      a.font-alt-1(href='contact.html') CONTACT
            .overlay-navigation-footer.row.full-width.center
              .column.width-12.no-padding
                p.copyright
                  | © 2017 HOTSHOT Sports. All Rights Reserved.
                  br
    // Overlay Navigation Menu End
    .wrapper.reveal-side-navigation
      .wrapper-inner
        // Header
        header.header.header-fixed.header-transparent.header-fixed-on-mobile
          .header-inner
            .row.nav-bar
              .column.width-12.nav-bar-inner
                .logo
                  .logo-inner
                    a(href='index.html')
                      img(src='images/hotshotlogo.png', alt='hotshot logo')
                    a(href='index.html')
                      img(src='images/hotshotlogo.png', alt='hotshot logo')
                nav.navigation.nav-block.secondary-navigation.nav-right
                  ul
                    li.aux-navigation.hide
                      // Aux Navigation
                      a.navigation-show.overlay-nav-show.nav-icon(href='#')
                        span.icon-menu
                nav.navigation.nav-block.primary-navigation.nav-right
                  ul
                    li
                      a.font-alt-1(href='contact.html') CONTACT
        // Header End
        // Content
        .content.clearfix
          // About Intro
          .section-block.replicable-content.bkg-black
            .row
              .column.width-8.offset-2.center
                p.lead1.text-xlarge.color-white.mb-80 WE ARE LISTENING
                p.text-medium.color-grey-ultralight
                  | Contact us @ 
                  br
                  |  +91 99 666 9 5436 
                  br
                  |  team@hotshotgo.com
          // About Intro End
        // Content End
    // Js
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='http://maps.googleapis.com/maps/api/js?v=3')
    script(src='js/timber.master.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-71930908-5', 'auto');
      ga('send', 'pageview');
