<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta name="twitter:widgets:theme" content="light">
	<meta property="og:title" content="Hotshot Sports" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="Your-Image-Url" />
	<meta property="og:description" content="At Hotshot, we change perceptions by building a sports ecosystem for the people." />
	<title>Hotshot | Sports</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/logo.ico">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CRoboto:300,400,500,700' rel='stylesheet' type='text/css'>
	
	<!-- Css -->
	<link rel="stylesheet" href="css/core.min2.css" />
	<link rel="stylesheet" href="css/skin.css" />
    
  

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="shop home-page bkg-black">

	<!-- Overlay Navigation Menu -->
	<div class="overlay-navigation-wrapper one-page-nav" data-no-scrollbar data-animation="scale-in">
		<div class="overlay-navigation-scroll-pane">
			<div class="overlay-navigation-inner">
				<div class="v-align-middle">
					<div class="overlay-navigation-header row collapse full-width">
						<div class="column width-12">
							<div class="navigation-hide overlay-nav-hide">
								<a href="#">
									<span class="icon-cancel"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="row collapse full-width">
						<div class="column width-12">
							<nav class="overlay-navigation nav-block center">
                                    <li>
                                        <a href="/contact" class="font-alt-1">CONTACT</a>
                                    </li>
<!--
									
-->
								</ul>
							</nav>
						</div>
					</div>
					<div class="overlay-navigation-footer row full-width center">
						<div class="column width-12 no-padding">
							<p class="copyright">&copy; 2017 HOTSHOT Sports. All Rights Reserved.<br>
<!--                                <a href="http://vectorx.co" class="no-page-fade" target="_blank" >Designed and Developed by VectorX</a></p>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Overlay Navigation Menu End -->

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">
            
            
            <!-- Header -->
           <!--  <header class="header header-fixed header-transparent header-fixed-on-mobile">
                
                <div class="header-inner">
                    <div class="row nav-bar">
                        <div class="column width-12 nav-bar-inner">
                            <div class="logo">
 
</style>
                                <div class="logo-inner">
                                 <a href="#home" class="scroll-link" ><img src="images/hotshotlogo.png" alt="logo" /></a>
                                    
                                      <a href="#home" class="scroll-link" ><img src="images/hotshotlogo.png" alt="logo" /></a>

          
                                </div>
                            </div>
                            <nav class="navigation nav-block secondary-navigation nav-right">
                                <ul>

                                    <li class="aux-navigation hide">
                                        
                                        <a href="#" class="navigation-show overlay-nav-show nav-icon">
                                            <span class="icon-menu"></span>
                                        </a>
                                    </li>

                                </ul>
                            </nav>
                            <nav class="navigation nav-block primary-navigation nav-right ">
                                <ul>
                                  

                                    <li>
                                        <a href="contact.html" class="font-alt-1">CONTACT</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header> -->
            <!-- Header End -->
			
            
       <div id="map">
  <iframe src="https://www.google.com/maps/d/embed?mid=1IUBalHNG1xMwWqKM-LznJ1PfEP0" width="640" height="400"></iframe></div>
			
	        <!-- Footer -->
			<footer class="footer">
				<div class="footer-top">
                           
                    <div class="footer-top-inner">
                    <div class="row flex">
						<div class="column width-2">
                            <div class="footer-logo">
                                <a href="index.html"><img src="images/hotshotlogo.png" alt="Logo" /></a>
                            </div>
                        </div>
                    </div>     
                    </div>
                  
                    
					<div class="row flex">
                        
						<div class="column width-4">
							<div class="widget">
<!--						  <h4 class="widget-title">CIX Software Inc.</h4>-->
                                
				                <p>Hotshot is all about sports. We create your world around sports &amp; activities. Experience sports like never before through us.</p>
							</div>
						</div>
                        
                        
                        <div class="column width-4 offset-2 left">
							<div class="widget">
								<ul>

									
                                    <li>
										<a href="/contact">CONTACT</a>
									</li>

								</ul>
							</div>
						</div>
                        
						<div class="column width-2 left">
							<div class="widget">
								
                                
                                <h4 class="widget-title font-med">SOCIAL</h4>
<!--
								<address class="mb-20">
									Hyderabad, India<br>
									
								</address>
								<p class="mb-10"><a href="mailto:#">contact@hotshotgo.com</a></p>
-->
								<ul class="social-list list-horizontal">
                                    <li><a href="https://www.facebook.com/hotshotgo" target="_blank"><span class="icon-facebook color-grey-ultralight medium color-hover-linkedin"></span></a></li>
									<li><a href="https://twitter.com/hotshotgo" target="_blank"><span class="icon-twitter color-grey-ultralight medium color-hover-twitter"></span></a></li>
                                    <li><a href="https://www.instagram.com/hotshotgo/?hl=en" target="_blank"><span class="icon-instagram color-grey-ultralight medium color-hover-instagram"></span></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCKTeE68XDwqb29sL08QLoew" target="_blank"><span class="icon-youtube color-grey-ultralight medium color-hover-youtube"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="row">
						<div class="column width-12">
							<p class="copyright">
								<span class="pull-left">&copy; 2017 Hotshot Sports, LLP. All Rights Reserved.</span> 
                                <span class="pull-right"><a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> </span><br>
<!--                                <a href="http://vectorx.co" target="_blank" class="color-white">Designed and Developed by VectorX</a>-->
							</p>
						</div>
					</div>
				</div>
			</footer>
			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
	<script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/timber.master.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71930908-5', 'auto');
      ga('send', 'pageview');

    </script>
    
</body>
</html>


<!--By logging in, you agree to Hotshot's Privacy Policy and Terms of Use-->